[mysqld]
ndbcluster
user=mysql
log-error=/var/log/mysqlcluster.log
log-bin=/app/ndb/data/mysqlcluster-bin
server-id=1
default-storage-engine=ndbcluster
[mysql_cluster]

ndb-connectstring=mgmd-ss-0,mgmd-ss-1
#,mgmd-ss-1

#修改数据库密码
#ALTER USER 'root'@'localhost' IDENTIFIED BY 'MyNewPass';

